* {                             /* "*" veut dire que ça s'applique à tous les éléments html */
    box-sizing: border-box;     /* facilite la conception de mise en page */
}

/******************************** STRUCTURE GENERALE ********************************/

body {
    background-color: #fdfffc;              /* couleur de fond */
    color: #011627;                         /* couleur du texte */
    font-size: 100%;                        /* taille du texte */
    line-height: 1.4;                       /* hauteur de ligne ou interligne */
    font-family: Open Sans, sans-serif;     /* type de police */
    font-weight: 400;                       /* épaisseur de police */
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: Changa one, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin: 0 0 1em 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0 0 .75em 0;
}

p {
    line-height: 1.5; /* 1.5 * la taille du texte */
}

a {
    color: #e71d36;
    text-decoration: none; /* enlever le souligné des liens */
}

/******************************** ENTETE ********************************/
header {
    text-align: center;                     /* centrer le contenu et texte horizontalement */
    background-color: #011627;              /* couleur de fond*/
    padding: 5px 0 0 0;                     /* marge intérieure (haut droite bas gauche) */
    margin: 0 0 30px 0;                     /* marge extérieure (haut droite bas gauche) */
}

header .nom {                      /* appelle la classe définie dans le html */
    color: #2ec4b6;
    font-family: "Changa one", sans-serif;
    font-weight: 400;
    font-size: 1.75rem;     /* taille du texte */
    line-height: 0.8;       /* hauteur de ligne ou interligne */
    margin: 1rem 0 1rem 0;  /* marge extérieure */
}

header .metier {
    margin: -5px 0 0 0; /* marge extérieure */
}

header .nav {
    padding: 10px 0 10px 0;
    margin: 20px 0 0 0;
}

header nav ul {
    padding: 0;
    margin: 0 10px 0 10px;
}

header nav ul li {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

header nav ul li:first-child {
    display: none;
}

header nav ul li a {
    color: #fdfffc;
    font-weight: 800;
    padding: 15px 10px 15px 10px;
}

header nav ul li a:hover {
    color: #2ec4b6;
}

/******************************** CONTENU PRINCIPAL ********************************/

main {
    margin: 0 5% 0 5%;
}

/******************************** PIED DE PAGE ********************************/

footer {
    padding: 50px 0 0 0;
    text-align: center;
}

footer nav ul {
    padding: 0;
}

footer nav ul li {
    list-style-type: none;
    display: inline-block;
}

footer nav ul li img {
    width: 50px;
    margin: 0 15px 0 15px;
    filter: grayscale(1);
    transition: filter 500ms linear;
}

footer nav ul li img:hover {
    filter: grayscale(0);
}

/******************************** PAGE CONTACT ********************************/

body.page-contact .contact-info {
    list-style-type: none;
    padding: 0;
}

body.page-contact .contact-info li {
    margin-bottom: 0.5em;
}

body.page-contact .contact-info li a {
    padding-left: 30px;
    background-image: url("../_sources/images/mail.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 0 -1px; /* 0 gauche (axe X), 2px en haut (axe Y)  */
}

body.page-contact .contact-info li a[href^="tel:0741234567"] { /* ^= : lien qui commence par "" */
    background-image: url("../_sources/images/phone.png");
}

body.page-contact .contact-info li a[href*="twitter"] { /* *= : lien qui contient "" */
    background-image: url("../_sources/images/twitter.png");
}

body.page-contact .contact-info li a[href="https://www.facebook.com/laure.dinateur/"] {
    background-image: url("../_sources/images/facebook.png");
}

/******************************** PAGE INFORMATIONS ********************************/

body.page-informations .portrait {
    border-radius: 50%;
    max-width: 200px;
    display: block;
    margin: 0 auto 0 auto;
}

.page-informations h1 {
    text-align: center;
}

/******************************** PAGE INDEX ********************************/

body.page-index h1 {
    text-align: center;
}

body.page-index main ul {
    width: 100%;
    list-style-type: none;
    text-align: justify;
    column-count: 2;
    column-gap: 5%;
}

body.page-index main ul li {
    display: inline-block;
    max-width: 45%;
    margin: 2.5%;
    vertical-align: top;
    position: relative;
}

body.page-index main ul li img {
    width: 100%;
}

body.page-index main ul li figure figcaption {
    margin: 10px;
    font-size: 1rem;
    overflow: hidden;
}

body.page-index main ul {
    float: left;
}