* {
    box-sizing: border-box;
}

header {
    background-color: #fdfffc;
}

.nom {
    color: blanchedalmond;
}

body {
    font-family: Verdana,sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #000000;
    background-color: #ffffff;
}

a {
    color: #00A24B;
    text-decoration: none;
}

a:hover {
    color: #E8A062;
}

.logo {
    display: block;
    height: 200px;
    width: 200px;
    margin: auto;
}

h1, h2 {
    font-family: Georgia, serif;
}