* {                             /* "*" veut dire que ça s'applique à tous les éléments html */
    box-sizing: border-box;     /* facilite la conception de mise en page */
}

/******************************** STRUCTURE GENERALE ********************************/

body {
    background-color: #fdfffc;              /* couleur de fond */
    color: #011627;                         /* couleur du texte */
    font-size: 100%;                        /* taille du texte */
    line-height: 1.4;                       /* hauteur de ligne ou interligne */
    font-family: Open Sans, sans-serif;     /* type de police */
    font-weight: 400;                       /* épaisseur de police */
    margin: 0;
}

h1 {
    font-family: Changa one, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 0 1em 0;
}

h2 {
    font-family: Changa one, sans-serif;
    font-size: 1.5rem;
    margin: 0 0 .75em 0;
}

p {
    line-height: 1.5; /* 1.5 * la taille du texte */
}

a {
    color: #e71d36;
    text-decoration: none; /* enlever le souligné des liens */
    font-weight: 800;
}

/******************************** ENTETE ********************************/
header {
    text-align: center;                     /* centrer le contenu et texte horizontalement */
    background-color: #000000;              /* couleur de fond*/
    padding: 5px 0 0 0;                     /* marge intérieure (haut droite bas gauche) */
    margin: 0 0 30px 0;                     /* marge extérieure (haut droite bas gauche) */
    font-family: "Changa one", sans-serif, sans-serif;
}

header .logo {

}

header .nom {                      /* appelle la classe définie dans le html */
    color: #2ec4b6;
    font-family: "Changa one", sans-serif;
    font-weight: 400;
    font-size: 1.75rem;     /* taille du texte */
    line-height: 0.8;       /* hauteur de ligne ou interligne */
    margin: 1rem 0 1rem 0;  /* marge extérieure */
}

header .metier {
    margin: -5px 0 0 0; /* marge extérieure */
}

header .nav {
    padding: 10px 0 10px 0;
    margin: 20px 0 0 0;
}

header nav ul {
    padding: 0;
    margin: 0 10px 0 10px;
}

header nav ul li {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

header nav ul li:first-child {
    display: none;
}

header nav ul li a {
    color: white;
    font-weight: 800;
    padding: 15px 10px 15px 10px;
}

header nav ul li a:hover {
    color: #2ec4b6;
    font-weight: 800;
    padding: 15px 10px 15px 10px;
}

/******************************** CONTENU PRINCIPAL ********************************/

main {
    margin: 0 5% 0 5%;
}

main .photo {
    border-radius: 50%;
    width: 50%;
    text-align: center;
}

main .presentation {
    text-align: center;
}

main p {
    text-align: left;
}

main section ul li {
    display: list-item;
    list-style-image: url('_sources/images/phone.png');
}

/******************************** PIED DE PAGE ********************************/

footer {
    padding: 50px 0 0 0;
    text-align: center;
}

footer nav ul {
    padding: 0;
}

footer nav ul li {
    list-style-type: none;
    display: inline-block;
}

footer nav ul li img {
    width: 50px;
    margin: 0 15px 0 15px;
    filter: grayscale(1);
    transition: filter 500ms linear;
}

footer nav ul li img:hover {
    filter: grayscale(0);
}
